* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}


.container {
    background-image: url(./fundo.png);
    width: 1440px;
    height: 823px;
}

.topico-head {
    display: flex;
}

.titulo-header {
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    width: 205px;
    height: 32px;
    margin-top: 38px;
    margin-left: 39px;
    color: #ffffff;
}

.caixa-links {
    margin-top: 42px;
    margin-left: 95px;
}

.links {
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    color: #ffffff;
    margin-right: 21px;
    letter-spacing: 0.2px;
    cursor: pointer;
}

.section {
    display: flex;
    position: absolute;
    flex-direction: column;
    margin-top: 303px;
    margin-left: 62px;
}

.titulo1-section {
    display: flex;
    font-weight: 800;
    font-size: 58px;
    line-height: 80px;
    letter-spacing: 0.2px;
    color: #FFFFFF;
}

.titulo4-section {
    display: flex;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.2px;
    color: #FFFFFF;
}

.aside {
    border: 1px solid grey;
    display: flex;
    flex-direction: column;
    width: 446px;
    height: 596px;
    margin: 108px 58px 53px auto;
    position: relative;
    padding: 40px;
    /* gap: 40px; */
    border-radius: 10px;
    background: #ffffff;
}

.titulo3-aside {
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    letter-spacing: 0.1px;
    color: #252B42;
}

.nome-aside {
    margin-top: 50px;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #252B42;
}

.input {
    background: #F9F9F9;
    border: 1px solid #E6E6E6;
    border-radius: 5px;
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    padding: 11px 0px 11px 21px;
}

.email-aside {
    margin-top: 20px;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #252B42;
}

.fale-aside {
    margin-top: 20px;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #252B42;
}

.botao-aside {
    margin-top: 50px;
    width: 366px;
    height: 52px;
    background: #40BB15;font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
}

#input-aside {
    width: 354px;
    height: 120px;
    padding: 11px 215px 92px 23px;
}

.main {
    background: #FFFFFF;
    width: 1440px;
    height: 678px;
}

.titulo-main {
    font-weight: 700;
    font-size: 40px;
    line-height: 57px;
    text-align: center;
    margin-top: 71px;
}

.todas-caixas {
    display: flex;
    justify-content: center;
    margin-top: 89px;
}

.caixas {
    border: 1px solid #a9d6ff;
    display: flex;
    width: 328px;
    height: 308px;
    flex-direction: column;
    margin-right: 33px;
    border-radius: 10px;
}

.titulos-caixas {
    padding: 30px 50px;
    background: #737373;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #ffffff;
}

#paragrafo-1 {
    padding-top: 30px;
    padding-right: 87px;
}

#paragrafo-2 {
    padding-top: 30px;
    padding-right: 87px;
}

#paragrafo-3 {
    padding-top: 30px;
    padding-right: 87px;
}

.paragrafos-caixas {
    padding-left: 50px;
    padding-right: 44px;
    margin-bottom: 5px;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    color: #737373;
    letter-spacing: 0.2px;
}

.footer {
    background: #737373;
    width: 1440px;
    height: 678px;
}

.titulo-footer {
    text-align: center;
    font-weight: 700;
    font-size: 40px;
    line-height: 57px;
    color: #ffffff;
    padding-top: 61px;
    padding-bottom: 45px;
}

.paragrafo-footer {
    font-weight: 500;
    font-size: 28px;
    line-height: 25px;
    letter-spacing: 1px;
    color: #FFFFFF;
    padding-left: 136px;
    padding-right: 137px;
}